.inbox-wrapper {
  min-height: 100vh;
  background: #f7f6f3;
  padding: 50px 8%;
}

.inbox-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notification-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}

.notif-left {
  width: 50px;
  height: 50px;
  background: #a88fac;
  color: white;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.notif-content p {
  margin: 0;
  color: #444;
}

.notif-content span {
  font-size: 13px;
  color: #777;
}
