@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #f7f6f3, #efe9f1);
}

.login-card {
  width: 380px;
  padding: 45px;
  background: rgba(255,255,255,0.85);
  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.1);
  text-align: center;
}
.login-card button {
  width: 100%;
  padding: 14px 0;
  border-radius: 14px;
  border: none;
    background: rgba(255,255,255,0.85);
  background: #a88fac;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.login-card button:hover {
  background: #8f7394;
  transform: translateY(-2px);
}
.forgot {
  text-align: right;
  margin-bottom: 10px;
   margin-top: -30px;
}

.forgot span {
  font-size: 13px;
  color: #8f7394;
  cursor: pointer;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.social-login {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.icons {
  display: flex;
  gap: 40px;
  padding: 12px 30px;
  border-radius: 30px;
  background: #f3f3f3;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: 0.3s;
}

.icons:hover {
  background: #eaeaea;
  transform: translateY(-4px);
}

.icons svg {
  cursor: pointer;
}

.login-card h1 {
  font-size: 3rem;
  margin-bottom: 5px;
  color: #8f7394;
}

.login-card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 30px;
}

.login-card input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  margin-bottom: 15px;
  background: #f4f4f4;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.login-card input:focus {
  background: #ffffff;
  box-shadow: 0 0 0 2px #cbb5ff;
}


.login-card button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-card span {
  display: block;
  margin-top: 22px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  transition: 0.3s;
}

.login-card span:hover {
  color: #b388eb;
  text-decoration: underline;
}
