.blog-upload {
  min-height: 100vh;
  background: #f4f1ea;
  padding: 60px;
  color: white;
}

/* Top section */
.top-section {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

/* LEFT */
.blog-meta {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-meta input {
  padding: 14px;
  border-radius: 10px;
  border: none;
  background:white;
  color: #444;
  font-size: 1rem;
  
}

.blog-image {
  width: 350px;
  height: 220px;
  background: #a88fac;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}


.img-placeholder {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.blog-image input {
display: none;
}


.blog-content {
  width: 100%;
  height: 350px;
  background:white;
  border: none;
  border-radius: 20px;
  padding: 25px;
  font-size: 1.1rem;
  color: #444;
  outline: none;
  resize: none;
  margin-bottom: 30px;
  
}

.publish-btn {
  padding: 14px 50px;
  background: #a88fac;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

.upload-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.upload-btn:hover {
  background: #333;
}
.upload-btn.inside {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
    z-index: 2;
}

.upload-btn.inside:hover {
  background: rgba(0,0,0,0.85);
}
.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
}

.glass-overlay {
  position: fixed;
  inset: 0;
  background: rgba(120, 91, 125, 0.45);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 18px;
  padding: 40px 50px;
  text-align: center;
  color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  animation: glassPop 0.4s ease;
}

.glass-card h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.glass-card p {
  font-size: 16px;
  margin-bottom: 25px;
  opacity: 0.9;
}

.glass-card button {
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-weight: bold;
  cursor: pointer;
}

.glass-card button:hover {
  transform: scale(1.05);
}

@keyframes glassPop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
