@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #f7f6f3;
  color: #2f2f2f;
}
